= semantic_form_for new_image(@topic), :html => { :multipart => true } do |form|
  .row
    .panel.auto-width
      .body
        = if @topic.errors.any?
          #errorExplanation
            %h2= "#{pluralize(@topic.errors.count, 'error')} prohibited this user from being saved:"
            %ul
            - @topic.errors.full_messages.each do |msg|
              %li= msg
        = form.inputs do
          = form.input :title, :label => 'Title'
          = form.input :panel, :label => 'Panel'
          = form.input :body, :label => 'Body'
          = form.input :published, :label => 'Published'
        .actions
          = form.submit
    .panel.square
      = form.semantic_fields_for :images do |image|
        = image.inputs do
          = image_tag image.object.tile_256(:original), :class => 'stretch' unless image.object.new_record?
          - if image.object.new_record?
            = image.label :new_image, :label => 'New Image'
          = image.file_field :tile_512
          - unless image.object.new_record?
            = image.check_box :_destroy
            = image.label :_destroy, :label => 'Remove'