- content_for :header do
  %h1= t('.title')
  %h2= link_to t('.new_topic'), new_topic_path

%ul.topics
  - for topic in @topics
    %li.row{ :class => cycle(:odd, :even) }
      .panel.auto-width.title
        %img.stretch.spacer-1-1{ :src => '/images/spacers/1x1.gif' }
        %img.stretch.spacer-2-1{ :src => '/images/spacers/2x1.gif' }
        %img.stretch.spacer-3-1{ :src => '/images/spacers/3x1.gif' }
        .copy.top
          %h2= topic.title
          .panel-copy
            = topic.panel
        .copy.bottom.right
          %h3.action= link_to t('show'), topic
          %h3.action= link_to t('edit'), edit_topic_path(topic)
          %h3.action= link_to t('destroy'), topic, :confirm => t('are_you_sure'), :method => :delete
      .panel.square
        - if !topic.square_panels.blank?
          = image_tag topic.square_panels.first.image(:tile_256), :class => 'stretch'
        - elsif !topic.portrait_panels.blank?
          = image_tag topic.portrait_panels.first.image(:tile_256), :class => 'stretch', :style => 'width: 50%;'
        - elsif !topic.landscape_panels.blank?
          = image_tag topic.landscape_panels.first.image(:tile_256), :class => 'stretch', :style => 'width: 50%;'
