- content_for :header do
  %h1= t('.title')
  %h2= link_to t('.new_topic'), new_topic_path

%ul.topics
  - for topic in @topics
    %li.row{ :class => cycle(:odd, :even) }
      .panel.auto-width.title
        %img.stretch.spacer-1-1{ :src => '/images/spacers/1x1.gif' }
        %img.stretch.spacer-2-1{ :src => '/images/spacers/2x1.gif' }
        %img.stretch.spacer-3-1{ :src => '/images/spacers/3x1.gif' }
        .copy
          %td.action= link_to t('show'), topic
          %td.action= link_to t('edit'), edit_topic_path(topic)
          %td.action= link_to t('destroy'), topic, :confirm => t('are_you_sure'), :method => :delete
      .panel.square
        %img.stretch{ :src => '/images/square-test/1x1.jpg' }