= form_for(@event) do |f|
  - if @event.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@event.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
