- unless panel[:id].blank?
  - if panel[:type].eql? :panel
    = image_tag brand_asset_url(Panel.find(panel[:id]).tile_256(:original)), :class => 'stretch has512'
  - else
    - if panel[:arrangement].eql? :landscape
      = image_tag '/images/spacers/2x1.gif', :class => 'stretch spacer-2-1'
    - elsif panel[:arrangement].eql? :portrait
      = image_tag '/images/spacers/1x2.gif', :class => 'stretch spacer-1-2'
    - if panel[:arrangement].eql? :square
      = image_tag '/images/spacers/1x1.gif', :class => 'stretch spacer-1-1'
    - topic = Topic.find(panel[:id])
    .copy.top
      %h2= topic.title
      = topic.body
- else
  - if panel[:arrangement].eql? :landscape
    = image_tag '/images/spacers/2x1.gif', :class => 'stretch spacer-2-1'
    .copy.coupon
  - elsif panel[:arrangement].eql? :portrait
    = image_tag '/images/spacers/1x2.gif', :class => 'stretch spacer-1-2'
    .copy.coupon
  - if panel[:arrangement].eql? :square
    = image_tag '/images/spacers/1x1.gif', :class => 'stretch spacer-1-1'
    .copy.coupon