!!! 
%head
  %title= (title = yield(:title)).blank? ? @current_brand.title : title
  = stylesheet_link_tag 'screen', :media => 'screen, projection'
  = stylesheet_link_tag 'print', :media => 'print'
  = stylesheet_link_tag 'ie', :media => 'screen, projection'
  = javascript_include_tag 'jquery', 'rails', 'application'
  = csrf_meta_tag
  %meta{ :name => "viewport", :content => "width: device-width, initial-scale = 1, maximum-scale = 1" }
%body
  #page
    #header
      - [:notice, :error, :message].each do |key| 
        - unless flash[key].blank? 
          %p{ :class => "flash flash_#{key}" }= flash[key]
    #content
      = yield
  :javascript
    $(document).ready(function() {
      $.ajax({
        type: 'GET',
        url: "#{brand_application_host}/home/news/news.js"
      });
    });