<!DOCTYPE html>
<html>
  <head>
    <title>InkSlinger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="//unpkg.com/grapesjs"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.11.2/ckeditor.js"></script>
    <script src="//rawcdn.githack.com/artf/grapesjs-plugin-ckeditor/7c227de0b187da8cb7b1e22b3da34837659977d1/dist/grapesjs-plugin-ckeditor.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
