!!! 
%head
  %title= (title = yield(:title)).blank? ? @current_brand.title : title
  = stylesheet_link_tag 'screen', :media => 'screen, projection'
  = stylesheet_link_tag 'formtastic', :media => 'screen, projection'
  = stylesheet_link_tag 'formtastic_changes', :media => 'screen, projection'
  = stylesheet_link_tag 'print', :media => 'print'
  = stylesheet_link_tag 'ie', :media => 'screen, projection'
  = javascript_include_tag 'jquery', 'rails', 'application'
  = csrf_meta_tag
  %meta{ :name => "viewport", :content => "width: device-width, initial-scale = 1, maximum-scale = 1" }
  = yield :head
%body
  #page
    #header
      - [:notice, :error, :message].each do |key| 
        - unless flash[key].blank? 
          %p{ :class => "flash flash_#{key}" }= flash[key]
    #content
      .rack
        .header
          .panel.landscape
            %img.stretch.has512{ :src => '/images/brands/miami_nightlifeobserver_com/header/tile_512.gif' }
          .panel.auto-width.title
            .bg
              &nbsp;
            %img.stretch.spacer-1-1{ :src => '/images/spacers/1x1.gif' }
            %img.stretch.spacer-2-1{ :src => '/images/spacers/2x1.gif' }
            .copy
              = yield :header
      .rack
        = yield
      .rack
        .row.footer
          .panel.auto-width.title
            %img.stretch.spacer-1-1{ :src => '/images/spacers/1x1.gif' }
            %img.stretch.spacer-2-1{ :src => '/images/spacers/2x1.gif' }
            %img.stretch.spacer-3-1{ :src => '/images/spacers/3x1.gif' }
            = yield :footer
          .panel.square
            = render :partial => '/layouts/footer_panel'